# FastApi
PROJECT_NAME="billing-service"
PROJECT_HOST=billing-service-api
PROJECT_PORT=8001
JWT_SECRET_KEY="jwt_super_secret"

REDIS_PORT=6379
REDIS_HOST=billing-service-redis

POSTGRES_DB=billing_database
POSTGRES_USER=billing
POSTGRES_PASSWORD=billing
POSTGRES_HOST=billing-service-postgres
POSTGRES_PORT=5432

# Admin
ADMIN_DEBUG=True

YOOKASSA_SHOP_ID=261448
YOOKASSA_API_KEY=test_Vwow6dJv_ahNC5YvP1ELUe0Wn5HEcOdRp0QREgrRRrU

# Worker
WORKER_PENDING_PAYMENTS_CHECK=30

# Sentry
SENTRY_DSN=https://29b163c8893f0db7c91523ed2690d7c7@o4505834627792896.ingest.sentry.io/4505982194221056
SENTRY_ENABLE=True

# Event_service
EVENT_SERVICE_URL=https://4178e455-13d6-4c19-aad9-32017ec7f721.mock.pstmn.io/actions